<div class="mainArea">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third">
        <h1 class="title has-text-centered">Password Generator</h1>

        <div class="field">
          <label>Password Length</label>
          <input class="input" (change)="modifyLength($event.target.value)" />
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifyLowercaseLetters()" type="checkbox" />
              Include Lowercase Characters:
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifyUppercaseLetters()" type="checkbox" />
              Include Uppercase Characters:
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifyNumbers()" type="checkbox" />
              Include Numbers
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifySymbols()" type="checkbox" />
              Include Symbols
            </label>
          </div>
        </div>

        <button
          [disabled]="
            !(
              length &&
              (includeUppercaseLetters ||
                includeLowercaseLetters ||
                includeSymbols ||
                includeNumbers)
            )
          "
          (click)="buttonClick()"
          class="button is-danger is-link is-fullwidth"
        >
          Oluştur
        </button>

        <div class="box" *ngIf="password">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" [value]="password" />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <button
            (click)="copy()"
            class="button is-primary is-link is-fullwidth"
            *ngIf="password"
          >
            Copy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
